<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicConfiguration" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxArrayLength="5000000" maxStringContentLength="5000000" maxDepth="256"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client/>
    <services>
      <service name="YellowstonePathology.YpiConnect.Service.Order.ClientOrderService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/ClientOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.IClientOrderService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.Identity.WebServiceAccountService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/WebServiceAccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.Identity.IWebServiceAccountService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.Search.ClientSearchService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/ClientSearchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.Search.IClientSearchService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.SearchService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/SearchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.Search.ISearchService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.FileTransferService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/FileTransferService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.IFileTransferService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.BillingService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/BillingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.Billing.IBillingService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.MessageService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/MessageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.IMessageService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.FlowSignoutService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/FlowSignoutService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.Flow.IFlowSignoutService"/>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.SubmitterService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/Testing/Services/SubmitterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicConfiguration" contract="YellowstonePathology.YpiConnect.Contract.ISubmitterService"/>
      </service>
      <!--
      <service name="YellowstonePathology.YpiConnect.Service.Order.ClientOrderService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/ClientOrderService.svc" 
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"                   
                  contract="YellowstonePathology.YpiConnect.Contract.IClientOrderService"></endpoint>       
      </service>      
      <service name="YellowstonePathology.YpiConnect.Service.Identity.WebServiceAccountService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/WebServiceAccountService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.Identity.IWebServiceAccountService"></endpoint>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.Log.ClientServicesLogService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/ClientServicesLogService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.Log.IClientServicesLogService"></endpoint>        
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.Search.ClientSearchService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/ClientSearchService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.Search.IClientSearchService"></endpoint>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.SearchService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/SearchService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.Search.ISearchService"></endpoint>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.FileTransferService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/FileTransferService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.IFileTransferService"></endpoint>
      </service>        
      <service name="YellowstonePathology.YpiConnect.Service.BillingService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/BillingService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.Billing.IBillingService"></endpoint>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.MessageService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/MessageService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.IMessageService"></endpoint>
      </service>
      <service name="YellowstonePathology.YpiConnect.Service.FlowSignoutService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/FlowSignoutService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.Flow.IFlowSignoutService"></endpoint>
      </service>                         
      <service name="YellowstonePathology.YpiConnect.Service.SubmitterService" behaviorConfiguration="BehaviorConfiguration">
        <endpoint address="https://www.YellowstonePathology.com/YpiConnect/WebService/Version/3.1.0.0/SubmitterService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicConfiguration"
                  contract="YellowstonePathology.YpiConnect.Contract.ISubmitterService"></endpoint>
      </service>         
      -->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorConfiguration">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\Traces3.svclog"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>